{% extends 'base.html' %}

{% block content %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{single_blog.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" style="color: bisque !important;">Posted on {{single_blog.created_at}} by {{single_blog.author}}</div>
                    <!-- Post category-->
                    <a class="badge bg-danger text-decoration-none text-light" href="#!">{{single_blog.category}}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{single_blog.featured_image.url}}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{single_blog.short_desc}}</p> <br>
                    <p class="fs-5 mb-4" style="color: brown;">In Detail--:</p> <br>
                    <p class="fs-5 mb-4"><b>{{single_blog.blog_body}}</b></p>

                    <!-- Comments -->
                    <div class="card bg-secondary text-white">
                        <span class="card-body">
                            <span class="card-title text-center"><h4 style="background-color:rgba(1, 16, 17, 0.87) !important; color:bisque"><b><i>Comments (<b style="color:darkred !important;">{{cmnt_count}}</b>) :</i></b></h4></span>
                            <div class="card-text mb-0">
                                {% if cmnts %}
                                    {% for cmnt in cmnts %}
                                        <i style="font-size: 16px !important;color:paleturquoise !important"><b> ~ {{cmnt}}</b></i>
                                        <br>
                                        <span>
                                            <small style="color: brown !important;font-size:1vw !important"><b>By {{cmnt.user}}</b></small> 
                                            <small style="color:bisque !important;font-size:1vw !important"><i> / {{cmnt.created_at | timesince }} ago</i></small>
                                        </span><br><br>
                                    {% endfor %}
                                {% else %}
                                <p style="font-size: 2vw !important;"><i>No Comments</i></p>
                                {% endif %}
                                <br> <br> <br>
                                {% if user.is_authenticated %}
                                <div class="form-group">
                                    <form action="" method="POST"> <!--ekhne action er drkr porbe na cause views.py blog er blog funtion a slug use kra hoise,,oita diai kaj hbe-->
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="bg-white text-info form-control" name="comment"  placeholder="Write Your Comment..."></textarea>
                                            <input type="submit" class="btn btn-info mt-2" value="Submit">
                                        </div>
                                    </form>
                                </div>
                                {% else %}
                                <i style="color:coral; font-size:2vw !important"><b style="background-color: beige !;">Please <span><a href="{% url 'login' %}">LogIn</a></span> to write a comment..!</b></i>
                                {% endif %}
                            </div>
                        </span>
                    </div>
                    </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for cat in categories %}
                                <li><a href="{% url 'posts_by_category' cat.id %}" class="text-success">{{cat.category_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Side widget-->
            {% if social_links %}
            <div class="card mb-4 p-3">
                <h4 class="font-italic text-warning">Follow Us</h4>
                <ol class="list-unstyled">
                    {% for lnk in social_links%}
                    <li><a href="{{lnk.link}}" target="_blank" class="text-info">{{lnk.platform}}</a></li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}