{% extends "base.html" %}


{% block content %}

{% load static %}

{% for post in featured_posts %}
{% if forloop.first %} <!--if condition lagano hoise jate repeate na hoy home.html a -->
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({{post.featured_image.url}});background-blend-mode: overlay;background-size:cover;"> <!--image fetch krar jnno last a .url dite hbe-->
    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic">{{post.title}}</h1>
      <p class="lead my-3">{{post.short_desc | truncatewords:15}}</p>
      <p class="lead mb-0"><a href="{% url 'blogs' post.slug %}" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
{% endif %}
{% endfor %}

<br>

  <h1 class="text-uppercase text-info" style="letter-spacing: 2px;">Featured Post:</h1>
  <div class="row mb-2">
    {% for post in featured_posts %}
    {% if not forloop.first %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3><a href="{% url 'blogs' post.slug %}" class="text-success">{{post.title}}</a></h3>
          <small class="mb-1 text-muted" style="color:tomato !important;">{{post.created_at | timesince}} ago <-- {{post.author}}</small> <!-- created_at er por | timesince use krle kto hour,kto minutes age create kra hoise oita show krbe-->
          <p class="card-text m-auto">{{post.short_desc | truncatewords:25}}</p> <!--it will keep first 30 words.. truncatechars use krle otogula character nito-->
        </div>
      </div> <br>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <br>

  <h1 class="text-uppercase text-info" style="letter-spacing: 2px;">Recent Articles:</h1>
  <main role="main" class="container p-0">
    <div class="row">
      <div class="col-md-8 blog-main">
      {% for pst in posts %}
      <div class="card border-0" >
        <div class="card-body">
          <h3><a href="{% url 'blogs' pst.slug %}" class="text-dark">{{pst.title}}</a></h3>
          <small class="mb-1 text-muted" style="color:tomato !important;">{{pst.created_at | timesince}} ago <-- {{pst.author}}</small> <!-- created_at er por | timesince use krle kto hour,kto minutes age create kra hoise oita show krbe-->
          <p class="card-text">{{pst.short_desc | truncatewords:25}}</p>
        </div>
      </div>  <br>
      {% endfor %}
      
      <div class="p-2">
          <h4 class="font-italic" style="color: brown !important;">For Entertainment:--</h4>
          <div class="p-2 bg-secondary rounded">
            <table style="border: 0;" cellspacing="10" cellpadding="0">
              <tr>
                <td class="p-1">
                    <video width="100%" height="auto" muted loop controls style="margin-bottom: 20px;" >
                      <source src="{% static 'videos/Video.mp4' %}" type="video/mp4">
                        Your Browser Doesn't Support The Video Tag
                    </video>
                </td>
                <td class="p-1">
                    <video width="100%" height="auto" muted loop controls style="margin-bottom: 20px;">
                      <source src="{% static 'videos/Video2.mp4' %}" type="video/mp4">
                        Your Browser Doesn't Support The Video Tag
                    </video>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      
      <br>

      {% for i in about %}
      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic" style="color: brown !important;">About</h4>
          <p class="mb-0 text-dark">Arin Ahmed,<em>a dedicated Computer Science and Technology (CST) student</em> {{i.about}}</p>
        </div>
        {% endfor %}

        {% if social_links %}
        <div class="p-3">
          <h4 class="font-italic">Follow Us</h4>
          <ol class="list-unstyled">
            {% for lnk in social_links %}
            <li><a href="{{lnk.link}}" target="_blank">{{lnk.platform}}</a></li>
            {% endfor %}
          </ol>
        </div>
        {% endif %}
      </aside>
    </div>

  </main> 

{% endblock %}