{% extends 'base.html' %}

{% block content %}

<h1 class="text-warning" style="letter-spacing: 2px;">Search Term:-- {{kywrd}}</h1>
<div class="row mb-2">
    {% if blogs %}
    {% for i in blogs %}
    <div class="col-md-6">
    <div class="card border-0" >
        <div class="card-body">
        <h3><a href="{% url 'blogs' i.slug %}" class="text-secondary">{{i.title}}</a></h3>
        <small class="mb-1 text-muted" style="color:tomato !important;">{{i.created_at | timesince}} ago <-- {{i.author}}</small> <!-- created_at er por | timesince use krle kto hour,kto minutes age create kra hoise oita show krbe-->
        <p class="card-text">{{i.blog_body}}</p> <!--it will keep first 30 words.. truncatechars use krle otogula character nito-->
        </div>
    </div>
    </div>
    {% endfor %}
    {% else %}
        <p><b><i>No Post Found..LoL..!</i></b></p>
    {% endif %}
</div>

</div>

{% endblock %}