{% extends "base.html" %}


{% block navigation_links %}
    <!-- <span><a href="{% url 'logout' %}" id="lo_btn" class="btn btn-danger"><i><b>LogOut</b></i></a></span>
    &nbsp;
    <span><a href="{% url 'dashboard' %}" class="btn lggdin" style="color:brown ; background-color:black "><i><b>Dashboard</b></i></a></span> -->
    <span class="text-warning bg-secondary"><i style="font-size: 1vw;">Logged In As: <b>{{user}}</b></i></span>
{% endblock %}


{% block content %}

{% load crispy_forms_tags %}

<style>
    body{
        background-color: bisque !important;
        color: black !important;
    }
    button:hover{
        color: bisque !important;
        background-color: black !important;
    }
</style>

<div class="row">
    <!-- left sidebar -->
    <!-- load the sidebar form sidebar.html -->
    {% include 'dashboard/sidebar.html' %}

    <!-- right side content -->
     <div class="col-md-9">
        <h2>Add New Post:</h2>
        <!-- nichar form a entype use krte hbe nahole image field ta submit hbena and pura form tar submition a error dibe -->
        <form action="{% url 'add_post' %}" method="POST" class="bg-secondary text-warning" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy}}
            <button type="submit" class="btn btn-success mb-2">Submit</button>
        </form>
     </div>
</div>

{% endblock %}