<div class="col-md-3">
    <div class="nav flex-column nav-pills bg-secondary" aria-orientation="vertical">
        <a href="{% url 'dashboard' %}" class="nav-link text-light  btn btn-warning {% if '/dashboard/' == request.path %}bg-danger{%endif%}"><b>Dashboard</b></a>
        <a href="{% url 'categories' %}" class="nav-link text-light btn btn-warning {% if '/dashboard/categories/' == request.path %}bg-danger{%endif%}"><b>Categories</b></a>
        <a href="{% url 'posts' %}" class="nav-link text-light btn btn-warning {% if '/dashboard/posts/' == request.path %}bg-danger{%endif%}"><b>Posts</b></a>
        <a href="{% url 'logout' %}" class="nav-link text-danger btn btn-dark"><i><b>LogOut</b></i></a>
        <!-- uporer a tag a if condition tar jnno ei div ta current jei page(categories.html ba posts.html) a thakbe
         oi page oi a tag ta red hoy thakbe-->
    </div>
</div>